<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Timesheets.Properties.Settings.CompConnStr" connectionString="Data Source=13.58.68.10;Initial Catalog=WPCompany;Persist Security Info=True;User ID=sa;Password=Sh@dow111"
            providerName="System.Data.SqlClient" />
        <add name="Timesheets.Properties.Settings.QBConnStr" connectionString="Data Source=13.58.68.10;Initial Catalog=WPAccess;Persist Security Info=True;User ID=sa;Password=Sh@dow111"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>